<app-navbar></app-navbar>
<mat-card class="container">
  <mat-card-header class="cardTitle">
    <h2>Historical data for Bitcoin</h2>
  </mat-card-header>
  <mat-card-content>
    <p>
      Currency in USD <br /> OpenClose in UTC time
    </p>
    <div class="table-responsive ">
      <table class="table table-hover table-sm z-depth-5">
        <thead>
          <tr>
            <th>Date</th>
            <th>Open</th>
            <th>High</th>
            <th>Low</th>
            <th>Close</th>
            <th>Volume from</th>
            <th>Volume to</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let coin of coinsData.reverse()">
            <td>{{coin.time *1000 | date }}</td>
            <td>{{coin.close}}</td>
            <td>{{coin.high}}</td>
            <td>{{coin.low}}</td>
            <td>{{coin.open}}</td>
            <td>{{coin.volumefrom}}</td>
            <td>{{coin.volumeto}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="container graf">
  <mat-card-header class="cardTitle">
    <h2>Historical graph for Bitcoin</h2>
  </mat-card-header>
  <mat-card-content>
    <div>
      <canvas id="canvas">{{ chart }}</canvas>
    </div>
  </mat-card-content>
</mat-card>
